@import url('https://fonts.googleapis.com/css?family=Ubuntu');

        

body{
    font-family: 'Ubuntu';
    background: url("background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.x {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }

#navbarThing{
    background: rgb(151, 54, 54);
}

#friendFinder{
    margin: 0 auto;
    font-size: 100px;
    font-weight: 1000;
    color: black;
    width: 50%;
    height: 160px;
    text-align: center;
    opacity: 0.0;
    margin-top: 200px;
    border-radius: 25%;
}

.mainWrapper{
    margin: 0 auto;
    width: 75%;
    background: rgba(255, 255, 255, 0.966);
    border: 1px solid rgba(255, 255, 255, 0.76);
    margin-bottom: 100px;
}

#name-input{
    margin-top: 100px;
}

.questionWrapper{
    margin: 0 auto;
    width: 85%;
    border: solid rgba(0, 0, 0, 0.637) 5px;
    background: rgba(255, 255, 255, 0.24);
}

.questionDiv{
    margin: 0 auto;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    text-align: center;
    color: black;
}

#submitButton{
    margin: 0 auto;
    width: 500px;
    height: 100px;
    background: rgb(151, 54, 54);
    border: solid #818586 2px;
    line-height: 20px;
    transition: all 0.2s;
    color: rgb(255, 255, 255);

}

#submitButton:hover{
    background: #f3abab;
    border: solid 2px rgb(255, 255, 255);
    color: #00323f;
}

#alignmentDiv{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 500px;
    height: 100px;

}

.p{
    color: black;
    font-size: 20px;
}
    